# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
venv
*.NEF
*.CHK
DSC_1607.NEF
FILE0004.CHK
FILE0005.CHK
venv/
